@import url("https://cdn.syncfusion.com/ej2/bootstrap5.css");

.App {
  text-align: center;
  background-color: #2596be;
}

.App-link {
  color: #61dafb;
}

.dropdown {
  width: 300px;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-title {
  padding: 10px;
  margin: 10px;
  color: white;
}

.App-subtitle {
  padding: 10px;
  margin: 10px;
  color: white;
}

.App-datatable {
  padding: 0px;
  margin: 0px;
  height: 600px;
}

.baseTab{
  border: 1px solid #e9ecef !important;
  cursor: pointer;
  background-color: white !important;
  color: black !important;
}

.baseTab:hover{
  background-color: #002fff !important;
  color: white !important;
}

.activeTab{
  background-color: #007bff !important;
  color: white !important;
}

.tabs{
  background-color: #2596be;
  padding: 10px;
  margin: 10px;
}